body {
	background-color: lightblue;
	color: white;
	text-align: center;
	/*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/3a/ca/2f/3aca2f212314581bada96d710f142284.jpg");*/
	/*background-image: url("projectImg/circusLandscape.png");
*/	/*cursor: url("projectImg/baseball-bat.png");*/
	/*background-image: url("projectImg/circusStripe.jpg");*/
	margin: 0;
	padding: 0;
}

head {
	text-align: center;
	color: black;
}

table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
  background-color: black; 
}

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

	/*cursor: url("projectImg/baseball-bat.png");*/
#mouse-pointer {
	cursor: url("projectImg/baseball-bat.png");

}

.backG {

	background-image: url("projectImg/circusStripe.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}


.gameContainer {
	border-color: black;
	text-align: center;
	border-height: 100vh;
	border-width: 100vw;
	
	 
}

.displayContainer {
	padding: auto;
	margin: auto;
	text-align: center;
	border-height: 100vh;
	border-width: 100vw;
	
}

.scoreContainer {
	text-align: center;
	border: 2px solid black;
	background-color: grey;
}



.jumbotron {
	text-align: center;
	border-width: 50vw;
}
/*@keyframes animate {
	from{
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}*/

